<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">{{title}}</a>
          </div>
<!--           
            <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form" >
                    <div class="input-group">
                        <input  #idVal  (keyup.enter)="onClickGetByAuthorName(idVal.value)" type="text" class="form-control" placeholder="Search by author" >
                        <div class="input-group-btn">
                            <button class="btn btn-default"  (click)="onClickGetByAuthorName(idVal.value)" type="button"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                    </form>
            </ul> -->
</div>
        
</nav>